<%- include('../layouts/head.ejs') %>

<%- include('../layouts/navigation.ejs') %>

    <div class="container">
        <h1 class="mt-4">Product List</h1>
        <div class="row">
            <% if(prod.length>0) { %>
                <% for(let product of prod) { %>
                    <div class="card m-4" style="width: 18rem;">
                        <img src="<%= product.imageUrl %>" class="card-img-top" style="height: 200px;" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%= product.Name %></h5>
                        <h5 class="card-title"> Price: <%= product.price %>/-</h5>
                        <p class="card-text"><%= product.description %></p>
                        <div class="" style="display: flex;">
                            <a href="/admin/edit-product/<%= product.id %>" class="btn btn-primary" style="height: 38px;">Edit</a>
                            <form action="/admin/delete-product" method="POST" class="">
                                <button  class="btn" style="background: crimson; color:white; margin-left: 20px;">Delete</button>
                            </form>
                        </div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <h3>No products to show</h3>
            <% } %>
        </div>
    </div>


<%- include('../layouts/end.ejs') %>